<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>SignIn - FinanceWeb</title>
</head>
<body>
<div class="signin-container">
    <h1>Sign In</h1>
    <form action="/login" method="post">
        <input class="signin-control" type="text" name="login" placeholder="Login">
        <input class="signin-control" type="password" name="password" placeholder="Password">
        <input class="signin-control" type="submit" value="Sign In">
    </form>
</div>
</body>
</html>
