<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-nU14brUcp6StFntEOOEBvcJm4huWjB0OcIeQ3fltAfSmuZFrkAif0T+UtNGlKKQv" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <title>SignUp - FinanceWeb</title>

</head>
<body>
<div class="signup-container">
        <h1>Sign Up</h1>
        <form th:object="${userRequisition}" action="/register" method="post">
            <div class="mb-3">
                <input class="signup-control" th:errorclass="is-invalid" type="text" th:field="*{name}" placeholder="Name">
                <div class="invalid-feedback" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <input class="signup-control" th:errorclass="is-invalid" type="text" th:field="*{login}" placeholder="Login">
                <div class="invalid-feedback" th:errors="*{login}"></div>
            </div>
            <div class="mb-3">
                <input class="signup-control" th:errorclass="is-invalid" type="password" th:field="*{password}" placeholder="Password">
                <div class="invalid-feedback" th:errors="*{password}"></div>
            </div>
            <div class="mb-3">
                <input class="signup-control" th:errorclass="is-invalid" type="number" th:field="*{salary}" placeholder="Salary">
                <div class="invalid-feedback" th:errors="*{salary}"></div>
            </div>
            <div class="mb-3">
                <input class="signup-control" th:errorclass="is-invalid" type="number" th:field="*{firstBalance}" placeholder="First Balance">
                <div class="invalid-feedback" th:errors="*{firstBalance}"></div>
            </div>
            <input class="signup-control" type="submit" value="Sign Up">
        </form>
</div>

</body>
</html>